* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: normal;
}

:root {
  font-size: 10px;
}

body {
  padding-top: 70px;
  background-image: url("/svg/starry-bg.svg");
  background-size: cover;
}
